.pre-header {
    padding: 5px 0;
    background-color: $preHeaderBgColor;
    color: $preHeaderColor;
}

.header {
    position: static;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    color: $headerFontColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding: 10px 0;
    background-color: $headerBgColor;

    &.is-home {
        position: absolute;
        background-color: transparent;
    }

    &-logo {
        margin-right: auto;
    }

    &-phone {
        padding: 0 15px;
    }

    &-item {
        padding: 3px 0;
    }
}

.logo {
    &,
    &-link,
    &-img {
        display: inline-block;
        vertical-align: middle;
    }
}

.phone {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-number {
        color: inherit;
        font-size: 16px;
        line-height: 1.5;
        display: inline-block;
        text-decoration: none;

        &:hover {
            color: currentColor;
            text-decoration: underline;
        }
    }
}

.social {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        color: inherit;
        font-size: 14px;
        line-height: 1.5;
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.messenger {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        color: inherit;
        font-size: 14px;
        line-height: 1.5;
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.lang {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;

        a {
            color: inherit;
            font-size: 14px;
            line-height: 1.5;
            display: block;
        }
    }
}
