.first-screen-headline {
    color: #000;
    padding: 0 15px;
    background: #fff;
    .border {
        border-bottom: 8px solid $themeColorTwo;
        padding-left: 0;
        width: 100%;
        text-transform: uppercase;
        font-size: 16px;
    }
}
.first-screen-headline,
.block-svg-text,
.third-screen-block,
.fifth-screen-block
.img-border-radius {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
            border-radius: 2px;
    box-shadow: 0px 0px 27px 0px rgba(48, 48, 48, 0.2);
    -moz-box-shadow: 0px 0px 27px 0px rgba(48, 48, 48, 0.2);
    -webkit-box-shadow: 0px 0px 27px 0px rgba(48, 48, 48, 0.2);
}
.block-svg-text {
    display: flex;
    align-items: left;
    padding: 22px 16px;
    background: #fff;
    justify-content: space-around;
    .p-center {
        width: 100%;
    }
    p {
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;
    }
}

.third-screen-block {
  background: rgba(225, 225, 225, 0.1);
  text-align: center;
  padding: 35px 0 40px;
  text-transform: uppercase;
  &:nth-child(1) {
    margin-left: 0;
  }
  &:nth-child(4) {
    margin-right: 0;
  }
}

.border-li {
    padding-left: 30px;
    li {
        list-style-image: url("assets/img/li.png");
        text-transform: uppercase;
    }
}

.fifth-screen-blocks {
    width: 100%;
    .fifth-screen-block, .arrow, .arrow-vertically {
        vertical-align: top;
        display: inline-block;
    }
    .fifth-screen-block {
        text-transform: uppercase;
        background: rgba(225, 225, 225, 0.1);
        text-align: center;
        padding: 35px 0 40px;
        width: 23%;
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        &:nth-child(1) {
          margin-left: 0;
        }
        &:nth-child(10) {
          margin-right: 0;
        }
    }
    .arrow {
        margin: 0px -50px 0px -50px;
        padding-top: 65px;
    }
    .arrow-vertically {
        display: none;
    }
}
.custom-card-body {
    background: #fff;
    padding: 25px 22px 20px;
    h5 {
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    a {
        text-transform: uppercase;
    }
}
@media only screen and (max-width: 914px) {
    .fifth-screen-block {
        width: 23%;
    }
    .arrow {
        margin: 0px -40px 0px -40px;
        width: 60px;
    }
}
@media only screen and (max-width: 677px) {
    .fifth-screen-blocks {
        .fifth-screen-block {
            width: 95%;
        }
        .arrow {
            display: none;
        }
        .arrow-vertically {
            display: inline-block;
            vertical-align: top;
            margin: -25px 49%;
            height: 75px;
        }
    }
}
// end content